# --- Root/IDE configs ---
.vscode/
.idea/
*.iml
.DS_Store

# --- Frontend (React) ---
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/src/assets

# --- Backend (Spring Boot) ---
backend/target/
backend/*.class
backend/.mvn/
backend/.metadata/
backend/src/main/java/com/financemanager/Helper/